/* General body and layout */
.Articles {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 300px; /* Set height for banner */
  background-color: #00246b;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  position: absolute;
  z-index: 10;
}

.banner-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; /* Optional: To add a slight overlay effect */
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12rem;
  width: 100%;
  max-width: 1300px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.article-card {
  background-color: #ffffff;
  padding: 1.5rem;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.article-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #00246b;
  margin-bottom: 1rem;
}

.article-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 1.5rem;
}

footer {
  width: 100%;
  padding: 2rem 0;
  background-color: #00246b;
  color: white;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

footer a:hover {
  color: #cadcfc;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }

  .article-card {
    padding: 1rem;
  }

  .article-title {
    font-size: 1.4rem;
  }
}
